
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    background: #3c46d2;
    cursor: default;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition-duration: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: #ffb300;
    margin: 10px 0;
    text-transform: lowercase;
    font-size: 1.25em;
}

.my_badge h2 {
    color: #ffb300;
    margin: 10px 0;
    text-transform: lowercase;
    font-size: 1.25em;
}

.resume {
    width: 85%;
    background: #1a237e;
    color: #ffffff;
    margin: 20px auto;
    box-shadow: 10px 10px #0e1442;
    position: relative;
    display: flex;
}

.resume .base,
.resume .func {
    box-sizing: border-box;
}

.resume .base > div,
.resume .func > div {
    padding-bottom: 10px;
}

.resume .base > div:last-of-type,
.resume .func > div:last-of-type {
    padding-bottom: 0;
}

.resume .base {
    width: 35%;
    padding: 30px 15px;
    background: #283593;
    color: #ffffff;
}

.resume .base .profile {
    background: #ffb300;
    padding: 30px 15px 40px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
}

.resume .base .profile::after {
    content: "";
    position: absolute;
    background: #303f9f;
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
}

.resume .base .profile .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume .base .profile .fa-rocket {
    font-size: 100px;
    text-align: center;
    margin: auto;
    color: #283593;
}

.resume .base .profile .info {
    text-align: center;
    color: #ffffff;
}

.resume .base .profile .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.75em;
    color: #1a237e;
}

.resume .base .profile .info .job {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #283593;
}

.resume .base .contact div {
    line-height: 24px;
}

.resume .base .contact div a:hover {
    color: #fdd835;
}

.resume .base .contact div a:hover span::after {
    width: 100%;
}

.resume .base .contact div:hover i {
    color: #fdd835;
}

.resume .base .contact div i {
    color: #ffb300;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
}

.resume .base .contact div span {
    position: relative;
}

.resume .base .contact div span::after {
    content: "";
    position: absolute;
    background: #fdd835;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
}

.resume .base .follow .box {
    text-align: center;
    vertical-align: middle;
}

.resume .base .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
}

.resume .base .follow .box a:hover i {
    background: #fdd835;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
}

.resume .base .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
}

.resume .base .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: #ffb300;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: #283593;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
}

.resume .base .follow .box i::before {
    transition-duration: 0.3s;
}

.resume .base .follow .box i.fa::before {
    display: block;
}

.resume .base .follow .box img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffb300;
    padding: 15px;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
}

.resume .base .follow .box a:hover img {
    background: #fdd835;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
}

.resume .func {
    width: 100%;
    padding: 30px;
}

#badge-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 1px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#badge-gallery img {
    width: 100%;
    object-fit: contain;
}