name: Upload Website
on:
  push:
    branches:
      - main
  workflow_dispatch: # Allow manual trigger

env:
  CLOUDFRONT_DISTRIBUTION_ID: E2U7L3AC9HLAQ0

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Deploy static site to S3 bucket
        run: aws s3 sync src/ s3://alherbawi.work --delete

      - name: 'Invalidate CloudFront cache'
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*" && \
          echo "Frontend deployed successfully to S3 and CloudFront cache invalidation initiated"
